<!--
Date retrieved: 27 Feb 2024
Description: index.hbs
Source: Based on example from nodejs-starter-app repo, Step 3
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/
-->

<h1>Database Home Page</h1>
<p>WordCards is a language-learning resource that enables users to curate and review custom lists of vocabulary. WordCards currently has over 20,000 users and supports Spanish for speakers of English. Similar applications for Spanish language learners have over a million downloads. </p>
<p>Fluency in Spanish may require a vocabulary of 2,000-4,000 words<sup><a href="#source">[1]</a></sup>. A database can keep track of all of these words, plus the associated information that learners need to understand the vocabulary, in a structured and consistent manner. Data can be efficiently updated so that all learners always have the most accurate information. Furthermore, a database gives WordCards the foundation to grow if the company chooses to support more languages. 
<p>Our database will help manage the <em>VocabTerms</em> available to review, including their <em>Definitions</em> and <em>ExampleSentences</em>. It will also manage information about <em>Learners</em> and the <em>PracticeLists</em> they create.</p>
<p><strong>Use the navigational links to view different tables.</strong></p>

<p class="citation" id="source">[1] Andrew. 2019. “How Many Words Do You Need to Know to Be Fluent in Spanish (or Any Foreign Language)? And Which Words Should You Be Learning?” Learn Spanish With Andrew. Accessed February 23, 2019. <a href="https://howlearnspanish.com/how-many-words-do-you-need-to-know/">https://howlearnspanish.com/how-many-words-do-you-need-to-know/</a>.</p>